
/* Card */
.card {
  transition: all 0.35s ease;
}

/* Hover effect */
.card:hover {
  transform: translateY(-8px) scale(1.02);
}
/*title*/
.card-title {
  text-align: center;
  padding-top: 30px;
  color: #4d18d5 !important;
}


/* Image */
.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

/* Card body */
.card-body {
  text-align: center;
  padding: 20px;
}
/* Description */
.card-text {
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 15px;
  
}
/* Button */
.btn-primary {
  background: linear-gradient(135deg, #6366f1, #4d13d4);
  margin-bottom: 15px;
}

/* Button hover */
.btn-primary:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #4f46e5, #7c3aed);
}

